@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  min-width: 1440px;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}

.main-conteiner {
  flex-grow: 1;
}

.navigation-properties,
.navigation {
  display: flex;
  flex-wrap: wrap;
  width: 1040px;
  margin: 0 auto;
  align-items: baseline;
  position: relative;
  justify-content: flex-end;
  margin-top: 34px;
}

.navigation {
  margin-top: 14px;
}

.navigation-catalog {
  margin-bottom: 20px;
}

.page-header,
.catalog-header {
  color: #000000;
  background-color: #ffe17f;
  width: 1160px;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.navigation-link,
.navigation-conditions-link {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  color: #000000;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  padding: 14px 0;
}

.all-navigation-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  border: none;
  color: #000000;
}

.all-navigation-item:nth-child(1) {
  width: 222px;
}

.all-navigation-item:nth-child(2),
.all-navigation-item:nth-child(3) {
  width: 211px;
}

.all-navigation-item:nth-child(2) {
  margin-left: 30px;
}

.all-navigation-item:nth-child(3) {
  margin-left: 1px;
}

.navigation-link {
  position: relative;
  display: flex;
  align-items: center;
  width: 293px;
  justify-content: space-between;
  padding: 14px 0;
}

.navigation-link::before {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 30%;
  border: 2px solid;
  position: absolute;
  right: 0;
  background-image: url("../images/decor/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-link:hover::before,
.navigation-link:focus::before {
  background-image: url("../images/decor/minus.svg");
  z-index: 3;
}

.navigation-link:hover::before,
.navigation-link:active::before {
  opacity: 100%;
}

.navigation-link:focus::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #af4fff;
  z-index: 3;
}

.navigation-link:focus {
  border: none;
  outline: none;
}

.navigation-find {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-right: auto;
  position: relative;
  top: -2px;
  left: -2px;
  align-items: center;
}


.basket {
  list-style: none;
  margin: 5px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  left: 14px;
  justify-content: flex-end;
}

.button-header {
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.popover-close-button:hover,
.button-header-compare:hover {
  opacity: 60%;
}

.popover-close-button:active,
.button-header-compare:active {
  opacity: 30%;
}

.basket-svg:focus,
.compare:focus {
  outline: 2px solid #af4fff;
}

.basket-svg::-moz-focus-inner,
.compare::-moz-focus-inner {
  border: none;
}

.navigation-list,
.navigation-conditions {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.all-navigation-list {
  list-style: none;
  padding: 0;
  display: none;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 30px;
  margin: 0 auto;
  width: 1160px;
  background-color: #ffe17f;
  position: absolute;
  top: 33px;
  left: -60px;
  z-index: 2;
}

.navigation-list:focus-within .all-navigation-list {
  display: block;
}

.name-account,
.exit-account {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  border: none;
  list-style: none;
  text-align: start;
  padding: 14px 0;
  background-color: transparent;
  cursor: pointer;
}

.name-account {
  width: 146px;
  background-image: url("../images/decor/sign-in.svg");
  background-repeat: no-repeat;
  padding-left: 27px;
  background-position-y: 21px;
}

.name-account:hover,
.exit-account:hover,
.enter:hover,
.all-navigation-link:hover {
  opacity: 60%;
}

.name-account:active,
.exit-account:active,
.enter:active,
.all-navigation-link:active {
  opacity: 30%;
}

.name-account:focus,
.exit-account:focus,
.enter:focus,
.all-navigation-link:focus {
  outline: 2px solid #af4fff;
}

.exit-account {
  width: 56px;
  opacity: 30%;
  margin-left: 28px;
}

.navigation-list {
  width: 293px;
  cursor: pointer;
}

.navigation-conditions {
  width: 474px;
  margin-left: auto;
}

.navigation-conditions-link:hover {
  opacity: 60%;
}

.navigation-conditions-link:active {
  opacity: 30%;
}

.navigation-conditions-link:focus {
  outline: 2px solid #af4fff;
}

.find {
  width: 359px;
  padding: 9px 20px 9px 48px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: transparent;
  border-radius: 50px 0 0 50px;
  border: 2px solid #000000;
  margin: 0;
  box-sizing: border-box;
  background-image: url("../images/decor/find.svg");
  background-repeat: no-repeat;
  background-position: 16px 12px;
  position: relative;
}

.find::placeholder {
  opacity: 30%;
}

.find:focus {
  outline: none;
}

.find:disabled {
  opacity: 30%;
}

.input + .input {
  margin: 0;
  padding: 0;
}

.find-button {
  width: 160px;
  background-color: transparent;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding: 9px 56px;
  display: inline-block;
  cursor: pointer;
  border: 2px solid #000000;
  border-radius: 0 50px 50px 0;
  position: relative;
  left: -6px;
  margin: 0;
}

.find-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.find-button:active {
  background-color: #000000;
  color: #ffffff;
  opacity: 30%;
}

.find-button:disabled {
  opacity: 30%;
}

.find-button:focus {
  outline: none;
}

.field::placeholder {
  color: #444444;
  opacity: 50%;
}

.field:hover,
.field:focus {
  background-color: #dcdcdc;
}

.field:disabled {
  opacity: 30%;
}

.quadcopter-info,
.fitness-bracelets-info,
.selfie-monopods-info {
  width: 1160px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  position: relative;
}

.slider {
  padding: 0;
  margin: 0;
}

.catalog {
  width: 1160px;
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
  margin: 0;
  padding: 0;
}

.center-page,
.center-page-subscription {
  margin: 70px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1160px;
}

.center-page-subscription {
  margin-bottom: 0;
}

.center-page-another {
  display: flex;
  flex-direction: column;
  padding-left: 122px;
}

.center-page-another-delivery {
  width: 694px;
  background-image: url("../images/decor/delivery.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.center-page-another-guarantee {
  width: 729px;
  background-image: url("../images/decor/guarantee.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.center-page-another-credit {
  width: 729px;
  background-image: url("../images/decor/credit.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.navigation-info-img {
  min-height: 164px;
  min-width: 136px;
}

.navigation-conditions-delivery {
  width: 694px;
  margin: 72px 0 72px 116px;
  background-image: url("../images/decor/delivery.svg");
  background-repeat: no-repeat;
  background-position: 558px;
}

.navigation-conditions-guarantee {
  width: 729px;
  margin: 62px 0 62px 116px;
  background-image: url("../images/decor/guarantee.svg");
  background-repeat: no-repeat;
  background-position: 558px;
}

.navigation-conditions-credit {
  width: 729px;
  margin: auto;
  margin-left: 116px;
  background-image: url("../images/decor/credit.svg");
  background-repeat: no-repeat;
  background-position: 558px;
}

.navigation-info {
  margin-bottom: 35px;
}

.navigation-info-link:hover {
  padding-left: 68px;
  background-color: #000000;
  color: #ffe17f;
}

.navigation-info-link:active {
  padding-left: 68px;
  background-color: #000000;
  color: #ffe17f;
}

.navigation-info-link:focus {
  padding-left: 68px;
  background-color: #000000;
  color: #ffe17f;
  position: relative;
  outline: #cccccc;
}

.navigation-info-link:focus::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #af4fff;
  padding: 4px;
  left: -5px;
  top: -6px;
}

.info {
  width: 1160px;
  margin: 0 auto;
  margin-top: 140px;
  display: flex;
  position: relative;
}

.about-and-contacts {
  width: 1160px;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
}

.about-us {
  width: 520px;
}

.contacts::before,
.about-us::before {
  content: "";
  display: block;
  background-color: #000000;
  width: 84px;
  height: 7px;
}

.contacts {
  width: 532px;
}

.subscription {
  margin: 0 auto;
  background-color: #f0f0f0;
}

.subscription-text-title {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 7px;
  top: -1px;
}

.subscription-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  margin-top: 66px;
  margin-bottom: 144px;
  width: 348px;
}

.subscription-text {
  width: 560px;
  color: #444444;
  margin-top: 74px;
}

.newsletter-button {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  color: #000000;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  width: 253px;
  background-color: #f0f0f0;
  display: flex;
  cursor: pointer;
  outline: 3px solid #c4c4c4;
  font-size: 18px;
  border: none;
  min-height: 57px;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -62px;
  left: 559px;
}

.newsletter-button:hover {
  background-color: #000000;
  outline: #000000;
  color: #ffffff;
}

.newsletter-button:active {
  background-color: #000000;
  outline: #000000;
  color: #ffffff;
  opacity: 30%;
}

.newsletter-button:focus::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #af4fff;
  z-index: 2;
  padding: 4px;
  left: -5px;
  top: -6px;
}


.newsletter-button:disabled {
  opacity: 30%;
}

.field {
  padding: 11px 447px 14px 16px;
  width: 94px;
  border: none;
  background-color: transparent;
  border-bottom: #c4c4c4 solid 3px;
  font: inherit;
  font-size: 18px;
  line-height: 30px;
  outline: none;
  position: relative;
  top: -3px;
}

.it-is-free {
  width: 160px;
  color: #444444;
  margin: 13px 0;
  padding-left: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("../images/decor/it-is-free.svg");
  background-repeat: no-repeat;
  background-position-y: 7px;
  position: relative;
  left: 32px;
  height: 30px;
  top: -3px;
}

.email-news {
  width: 1160px;
  display: flex;
  justify-content: space-between;
}

.social-footer-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  max-height: 40px;
}

.telegram::after,
.youtube::after,
.twitter::after {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  filter: opacity(30%);
  border-radius: 50%;
  z-index: -1;
}

.telegram:hover,
.youtube:hover,
.twitter:hover {
  background-color: #ffc700;
  border-radius: 50%;
}

.telegram:active,
.youtube:active,
.twitter:active {
  background-color: #ffc700;
  border-radius: 50%;
}

.telegram:focus,
.youtube:focus,
.twitter:focus {
  outline: 2px solid #af4fff;
}

.social-network:active {
  opacity: 30%;
}

.navigation-footer {
  margin-top: 132px;
  margin-right: 180px;
  width: 448px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  margin-bottom: 61px;
}

.footer-conteiner {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 1160px;
}

.navigation-footer-item-conteiner {
  display: flex;
  width: 448px;
  flex-wrap: wrap;
}

.navigation-footer-item:nth-child(3n) {
  margin-right: 0;
}

.telephone-logo {
  margin-top: 135px;
  width: 180px;
}

.catalog-header-main {
  width: 1160px;
  margin: 0 auto;
}

.page-catalog {
  background-color: #f0f0f0;
  margin: 0 auto;
}

.advertising,
.advertising-two,
.advertising-three {
  font-size: 180px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 50px;
  width: 235px;
  text-align: right;
  top: 86px;
}

.advertising-two,
.advertising-three {
  left: 308px;
}

.advertising::before,
.advertising-two::before,
.advertising-three::before {
  content: "";
  height: 300px;
  background-color: #ffe17f;
  position: absolute;
  left: -875px;
  top: -233px;
  width: 1160px;
  z-index: -5;
}

.advertising-two::before {
  left: -870px;
}

.advertising-three::before {
  left: -867px;
}


.text-right {
  width: 560px;
  position: relative;
  padding: 125px 0 38px 40px;
}

.info-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 48px;
  font-weight: 800;
}

.circle-one {
  display: flex;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #000000;
  outline: 2px solid #000000;
}

.circle-two,
.circle-three {
  display: flex;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 100%;
  outline: 2px solid #000000;
}

.info-foto {
  display: block;
}

.slider-button {
  width: 20px;
  height: 60px;
  border: none;
  cursor: pointer;
  background-image: url("../images/decor/back.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  position: relative;
}

.slider-prev {
  transform: rotateY(180deg);
}

.slider-button:hover {
  opacity: 60%;
}

.slider-button:active {
  opacity: 30%;
}

.slider-button {
  border: none;
  outline: none;
}

.slider-button:focus::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #af4fff;
  z-index: 2;
  padding: 4px;
  left: -5px;
  top: -6px;
}

.slider-button:disabled {
  opacity: 10%;
}

.slider-pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 76px;
  height: 12px;
  position: absolute;
  bottom: 12px;
  left: 541px;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
  background-color: #ffffff;
  position: relative;
}

.slider-pagination-button-current {
  background-color: #000000;
}

.slider-pagination-button:hover {
  opacity: 60%;
}

.slider-pagination-button:active {
  opacity: 30%;
}

.slider-pagination-button:focus::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #af4fff;
  z-index: 2;
  padding: 4px;
  left: -6px;
  top: -6px;
}

.slider-pagination-button:disabled {
  opacity: 10%;
}

.info-foto-before-after {
  position: relative;
  top: 4px;
}

.slider-controls {
  position: absolute;
  left: 30px;
  top: 214px;
  width: 530px;
  display: flex;
  justify-content: space-between;
}

.range-scale {
  position: relative;
  margin-bottom: 16px;
  border: 2px solid #dcdcdc;
  height: 0;
  top: -3px;
  left: -2px;
  width: 200px;
}

.range-bar {
  position: absolute;
  border: 2px solid #000000;
  height: 0;
  top: -2px;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #ebebeb;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  opacity: 50%;
}

.range-toggle:active {
  background-color: #000000;
}

.range-toggle:focus::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #af4fff;
  z-index: 2;
  padding: 4px;
  left: -5px;
  top: -6px;
}

.range-input:focus {
  outline: 2px solid #af4fff;
}

.toggle-min {
  top: -9px;
  left: -9px;
}

.toggle-max {
  top: -9px;
  left: 110px;
}

.range-wrapper-inputs {
  width: 175px;
  position: relative;
  left: -12px;
  top: -14px;
  display: flex;
  justify-content: space-between;
}

.catalog-filter-label {
  display: flex;
  margin-right: 5px;
  font-size: 14px;
  opacity: 30%;
}

.range-input {
  width: 45px;
  padding: 0 2px;
  font: inherit;
  font-size: 14px;
  line-height: 20px;
  background-color: transparent;
  border: none;
  -webkit-appearance: textfield;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.right,
.left {
  position: relative;
  top: 157px;
}

.right:hover,
.left:hover {
  opacity: 60%;
}

.right:active,
.left:active {
  opacity: 30%;
}

.right:focus,
.left:focus {
  outline: 2px solid #af4fff;
}

.right:disabled,
.left:disabled {
  opacity: 10%;
}

.right {
  right: 20px;
}

.quadcopter-info-text {
  color: #444444;
  margin: 27px 0;
  padding-right: 10px;
}

.info-text {
  position: relative;
  top: 8px;
}

.enter {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  border: none;
  background-color: transparent;
  list-style: none;
  text-align: start;
  padding: 14px 26px;
  display: flex;
  width: 84px;
  justify-content: space-between;
  align-items: center;
  background-image: url("../images/decor/sign-in.svg");
  background-repeat: no-repeat;
  background-position: 0 22px;
  cursor: pointer;
}

.compare,
.basket-svg {
  font-size: 18px;
  line-height: 30px;
  border: none;
  background-color: transparent;
  list-style: none;
  margin: 0;
  padding: 14px 0;
  position: relative;
  cursor: pointer;
}

.compare {
  width: 118px;
  background-image: url("../images/decor/comparison.svg");
  background-repeat: no-repeat;
  background-position: 2px;
  outline: 2px solid transparent;
  padding-left: 10px;
}

.basket-svg {
  width: 138px;
  background-image: url("../images/decor/basket.svg");
  background-repeat: no-repeat;
  background-position: 22px 20px;
  padding-right: 17px;
  text-align: end;
  outline: 2px solid transparent;
}

.delivery-on-order::before {
  content: "";
  width: 125px;
  height: 100%;
  background-color: #ffe17f;
  position: absolute;
  left: 0;
  background-image: url("../images/decor/delivery-car.svg");
  background-repeat: no-repeat;
  background-position: 39px 35px;
}

.button-header,
.breadcrumbs-item,
.catalog-filter-item,
.pagination-item {
  list-style: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.pagination-item {
  color: #444444;
  opacity: 30%;
}

.breadcrumbs-item {
  line-height: 20px;
  padding-right: 36px;
}

.product-card {
  margin: 0;
  list-style: none;
  padding: 0;
  position: relative;
}

.product-card-link {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  position: relative;
}

.product-card-link-foto {
  display: block;
}

.product-card-title {
  margin: 0;
  padding: 0;
  max-width: 228px;
  font-size: 18px;
}

.product-description {
  display: flex;
  margin-top: 33px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table-info {
  position: relative;
  top: 6px;
}

.numbers {
  padding: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 400;
  padding-right: 38px;
}

.name-numbers {
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  padding-top: 10px;
}

.more {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin: 50px 0;
  width: 220px;
  color: #000000;
  position: relative;
  top: 9px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.more:hover,
.more-about-us:hover,
.button-connection:hover,
.button-show:hover {
  background-color: #ffe17f;
}

.more:active,
.more-about-us:active,
.button-connection:active,
.button-show:active {
  background-color: #ffcc33;
}

.more:focus,
.more-about-us:focus,
.button-connection:focus,
.button-show:focus {
  outline: 2px solid #af4fff;
}

.more:disabled,
.more-about-us:disabled,
.button-connection:disabled {
  opacity: 30%;
}

.more::after {
  content: "";
  display: block;
  background-color: #ffe17f;
  width: 220px;
  height: 8px;
  position: relative;
  top: -16px;
  z-index: -1;
}

.more-about-us::after {
  content: "";
  display: block;
  background-color: #ffe17f;
  width: 270px;
  height: 8px;
  position: relative;
  top: -16px;
  z-index: -1;
}

.button-connection::after {
  content: "";
  display: block;
  background-color: #ffe17f;
  width: 259px;
  height: 8px;
  position: relative;
  top: -16px;
  z-index: -1;
}


.virtual-reality,
.selfie-monopods,
.action-cameras,
.fitness-bracelets,
.smart-watch,
.quadcopters {
  font-family: "Raleway", sans-serif;
  line-height: 24px;
  font-weight: 800;
  text-decoration: none;
  color: #000000;
  list-style: none;
  position: relative;
}

.images-catalog-focus:focus::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #af4fff;
  z-index: 2;
  padding: 4px;
  left: -5px;
  top: -6px;
}

.images-catalog-focus:focus {
  outline: none;
}

.images-catalog {
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 4px;
}

.images-catalog-down {
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  top: 4px;
}

.img-car {
  display: flex;
  justify-content: center;
  width: 910px;
  padding-left: 128px;
  position: relative;
  padding-top: 7px;
}

.catalog-list-text {
  background-color: #ffffff;
  text-align: start;
  margin-top: 37px;
  margin-bottom: 12px;
  letter-spacing: -0.02em;
}

.catalog-list {
  list-style: none;
  padding: 0;
}

.catalog-list:hover .images-catalog {
  background-color: #ffc700;
}

.catalog-list:hover .images-catalog-down {
  background-color: #ffc700;
}

.catalog-list:active {
  opacity: 30%;
}

.navigation-info-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 10px 0;
  text-align: start;
  border: none;
  background-color: transparent;
  width: 280px;
  position: relative;
}

.navigation-info-link-black {
  color: #ffe17f;
}

.navigation-info-link-delivery {
  padding-left: 17px;
}

.navigation-info-link-guarantee {
  padding-left: 20px;
}

.navigation-info-link-credit {
  padding-left: 34px;
}

.navigation-info-link-black::after {
  content: "";
  display: block;
  background-color: #000000;
  width: 280px;
  height: 40px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.navigation-info-link-line::after {
  content: "";
  display: block;
  background-color: #ffe17f;
  width: 160px;
  height: 8px;
  position: absolute;
  z-index: -1;
  top: 15px;
  left: 0;
}

.navigation-info-change {
  margin: 0;
  list-style: none;
  padding: 0;
  margin-top: 64px;
  margin-bottom: 30px;
  position: relative;
}

.navigation-info-change::after {
  content: "";
  display: block;
  background-color: #000000;
  width: 7px;
  height: 319px;
  position: absolute;
  top: -64px;
  left: 280px;
}

.delivery {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  margin: 0;
  margin-bottom: 34px;
}

.delivery-text {
  color: #444444;
  margin: 0;
  width: 453px;
}

.delivery-text-guarantee {
  color: #444444;
  margin: 0;
  width: 479px;
}

.delivery-text-credit {
  color: #444444;
  margin: 0;
  width: 475px;
}

.delivery-on-order {
  font-family: "Raleway", sans-serif;
  line-height: 23px;
  color: #000000;
  font-weight: 800;
  text-align: center;
  background-color: #f0f0f0;
  font-size: 20px;
  width: 1160px;
  border: none;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.info-svg path {
  opacity: 30%;
}

.delivery-on-order:focus {
  border: none;
  outline: none;
}

.delivery-on-order:focus:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #af4fff;
  z-index: 2;
  padding: 4px;
  left: -5px;
  top: -6px;
}

.info:hover .img-car::before {
  background-color: #ffc700;
}

.info:hover .square-info::after {
  opacity: 100%;
}

.info:active {
  opacity: 30%;
}

.square-info {
  width: 125px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.square-info::after {
  content: "";
  width: 40px;
  height: 40px;
  background: #dcdcdc80;
  opacity: 50%;
  border-radius: 50%;
  background-image: url("../images/decor/info.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.about-us-title,
.contacts-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  font-weight: 800;
  margin: 41px 0 48px 0;
}

.about-us-text {
  color: #444444;
  margin: 30px 0;
}

.transport-companies-item {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin-top: 19px;
  position: relative;
  list-style-type: none;
}

.transport-companies-item::before {
  content: "";
  background-color: #ffc700;
  display: block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  position: absolute;
  left: -36px;
  top: 5px;
}

.contacts-title-text,
.contacts-subtitle {
  color: #444444;
}

.contacts-subtitle {
  margin: 30px 0 15px 0;
  font-weight: 700;
  font-size: 24px;
}

.contacts-address-text,
.contacts-phone,
.contacts-schedule-item {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 10px;
  color: #444444;
  text-decoration: none;
  font-style: normal;
}

.contacts-address-text {
  position: relative;
  top: 8px;
}

.contacts-phone {
  margin-top: 10px;
}

.contacts-phone:focus {
  color: #af4fff;
  border: none;
  outline: none;
}

.more-about-us,
.button-connection {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  color: #000000;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
  padding-top: 10px;
}

.more-about-us {
  margin-top: 13px;
}

.catalog-footer {
  color: #ffffff;
  background-color: #444444;
  position: relative;
  top: -3px;
}

.adress-footer-text,
.telephone-footer {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  font-style: normal;
  color: #ffffff;
}

.telephone-footer {
  display: block;
  margin-bottom: 63px;
  padding: 4px 0;
}

.telephone-footer:hover {
  color: #ffc700;
}

.telephone-footer:active {
  color: #ffc700;
  opacity: 30%;
}

.telephone-footer:focus {
  outline: 1px solid #af4fff;
}

.adress-footer-text {
  margin: 35px 0 64px 0;
  width: 244px;
}

.button-light-up {
  background-image: url("../images/decor/more.svg");
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  background-position: 10px 9px;
}

.button-light-down {
  background-image: url("../images/decor/less.svg");
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  background-position: 10px 9px;
}

.navigation-footer-item {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-right: 32px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  padding: 4px 0;
}


.navigation-footer-item:nth-child(3) {
  margin-right: 0;
}

.navigation-footer-item:hover {
  color: #ffc700;
  border-bottom: 2px solid #ffc700;
}

.navigation-footer-item:active {
  color: #ffc700;
  border-bottom: 2px solid #ffc700;
  opacity: 30%;
}

.navigation-footer-item:focus {
  outline: 2px solid #af4fff;
}

.contacts-schedule-item,
.social-footer-item {
  list-style: none;
}

.telegram,
.youtube,
.twitter {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 1;
  margin-right: 15px;
}

.twitter {
  margin-right: 0;
}

.social-footer {
  max-height: 40px;
  margin-top: 56px;
}

.contacts-schedule {
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  width: 240px;
  margin: 25px 0 20px 0;
  padding: 0;
}

.footer-logo-adress {
  width: 234px;
  margin-top: 62px;
  margin-right: 124px;
}

.footer-logo-adress::after {
  content: "";
  display: block;
  background-color: #ffc700;
  width: 80px;
  height: 7px;
}

.catalog-name-choice {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  margin: 54px 0 14px 60px;
}

.breadcrumbs {
  min-width: 429px;
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 34px;
  margin-left: 60px;
  line-height: 20px;
}

.breadcrumbs-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
  position: relative;
}

.breadcrumbs-link:hover {
  opacity: 60%;
}

.breadcrumbs-link:active {
  opacity: 30%;
  outline: none;
}

.breadcrumbs-link:focus {
  outline: 1px solid #af4fff;
}

.choice {
  width: 320px;
  margin-left: 60px;
}

.catalog-right {
  width: 840px;
}

.name-choice {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-bottom: 72px;
  margin-top: 25px;
  position: relative;
}

.name-choice::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #000000;
  position: absolute;
  width: 200px;
  top: 76px;
}

.place {
  width: 200px;
  height: 43px;
  position: relative;
}

.place::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #000000;
  position: absolute;
  width: 200px;
  top: -3px;
}

.cost,
.catalog-filter-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.cost {
  margin-bottom: 30px;
}


.catalog-filter-group,
.catalog-filter-group-cost,
.catalog-filter-group-bluetooth {
  border: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-group {
  position: relative;
  top: -4px;
}

.catalog-filter-group-cost {
  margin-bottom: 35px;
}

.catalog-filter-group-bluetooth {
  position: relative;
  top: 7px;
}

.catalog-filter-list {
  color: #000000;
  margin: 20px 0 35px 0;
  padding: 0;
}

.control {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 17px;
  position: relative;
  display: block;
  padding-left: 36px;
}

.catalog-filter-group::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #000000;
  width: 200px;
  position: relative;
  top: -1px;
}

.catalog-products {
  width: 1160px;
  margin: 0 auto;
  display: flex;
}

.catalog-product {
  width: 840px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ffffff;
}

.product-list {
  margin: 71px 0 42px 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 40px 44px;
}

.button-show {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-align: center;
  border: none;
  text-transform: uppercase;
  padding: 10px 5px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  z-index: 1;
  top: 11px;
  left: -3px;
  background-color: transparent;
}

.button-show::after {
  content: "";
  display: block;
  height: 8px;
  background-color: #ffe17f;
  position: relative;
  width: 220px;
  top: -15px;
  z-index: -1;
}

.select-control {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  display: block;
  margin: 25px 203px 25px 40px;
  width: 147px;
}

.select-control-choice {
  border: none;
  background-color: #f0f0f0;
  width: 141px;
  max-height: 30px;
  font-size: 18px;
  cursor: pointer;
  font-family: inherit;
  padding: 5px 0;
}

.select-control-choice:hover {
  opacity: 60%;
  outline: none;
}

.select-control-choice:active {
  opacity: 30%;
  outline: none;
}

.select-control-choice:focus {
  outline: 1px solid #af4fff;
}

.select-control-choice:disabled {
  opacity: 10%;
}

.select-control-text {
  font-weight: 400;
  line-height: 30px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.catalog-filter-item:hover {
  opacity: 60%;
}

.catalog-filter-item:active {
  opacity: 30%;
}

.catalog-input:focus ~ .control-mark {
  outline: 2px solid #af4fff;
}

.catalog-filter-item:focus {
  border: none;
  outline: none;
}

.catalog-filter-item:disabled {
  opacity: 10%;
}

.conteiner-up-down {
  display: flex;
  margin-left: 206px;
}

.button-light-up:hover,
.button-light-down:hover {
  opacity: 50%;
}

.button-light-up:active,
.button-light-down:active {
  opacity: 100%;
}

.button-light-up:focus,
.button-light-down:focus {
  outline: 2px solid #af4fff;
}

.section-sort {
  display: flex;
  align-items: center;
}

.button-light {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.up,
.down {
  opacity: 20%;
}

/*при необходимости добавить очередному элементу надпись New,
создать правило для nth-child() c атрибутом display:flex*/
.product-card::after {
  content: "New";
  display: none;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #00000099;
  opacity: 60%;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  top: 27px;
  left: 273px;
}

.product-card-link:hover {
  opacity: 60%;
}

.product-card-link:active {
  opacity: 30%;
}

.product-card-link:focus::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #af4fff;
  z-index: 2;
  padding: 4px;
  left: -5px;
  top: -6px;
}

.product-card-link:focus {
  outline: none;
  border: none;
}

.product-card-price {
  font-weight: 400;
  line-height: 21px;
  text-align: right;
  color: #444444;
  position: relative;
  left: -4px;
}

.pagination {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  flex-wrap: wrap;
}

.pagination-show-more {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-align: center;
  border: 3px solid #e5e5e5;
  width: 760px;
  margin-bottom: 44px;
  padding: 18px 39px;
  text-transform: uppercase;
  box-sizing: border-box;
  position: relative;
  top: 3px;
  text-decoration: none;
  color: #000000;
}

.pagination-show-more:hover {
  outline: 3px solid #000000;
}

.pagination-show-more:active {
  outline: 3px solid #000000;
  opacity: 30%;
}

.pagination-show-more:focus::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #af4fff;
  z-index: 2;
  padding: 4px;
  left: -5px;
  top: -6px;
}

.pagination-show-more:disabled {
  opacity: 30%;
}

.back {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;
  list-style-type: none;
  background-color: #ebebeb;
  opacity: 30%;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  padding: 25px;
  min-width: 128px;
  min-height: 71px;
  position: relative;
}

.back:hover,
.next:hover {
  background-color: #dcdcdc;
  opacity: 100%;
}

.pagination-item:hover {
  opacity: 100%;
}

.pagination-item:active {
  opacity: 10%;
}

.back:focus::after,
.next:focus::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #af4fff;
  z-index: 2;
  padding: 4px;
  left: -5px;
  top: -6px;
}

.back:focus,
.next:focus {
  opacity: 100%;
  outline: none;
}

.pagination-link:focus::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #af4fff;
  z-index: 2;
  padding: 4px;
  left: -5px;
  top: -6px;
}

.pagination-link:focus {
  outline: none;
}

.pagination-link {
  display: flex;
  box-sizing: border-box;
  min-width: 40px;
  min-height: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #444444;
  text-decoration: none;
  list-style-type: none;
  background-color: #ebebeb;
  opacity: 30%;
  text-align: center;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.pagination-current {
  opacity: 60%;
}

.next {
  display: flex;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;
  list-style-type: none;
  background-color: #ebebeb;
  text-transform: uppercase;
  padding: 25px;
  min-width: 141px;
  min-height: 71px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.pagination-all {
  background-color: #ebebeb;
  width: 760px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 78px;
}

.logo-htmlacademy {
  color: #ffc700;
  text-decoration: none;
  position: relative;
  left: 59px;
  top: -3px;
}

.logo-htmlacademy:hover .html-svg {
  fill: #ffffff;
}

.logo-htmlacademy:active .html-svg {
  fill: #ffffff;
}

.logo-htmlacademy:active {
  opacity: 30%;
}

.logo-htmlacademy:focus {
  outline: 1px solid #af4fff;
}

.html-svg {
  position: absolute;
  left: 60px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-logo {
  margin-left: 60px;
  position: absolute;
  top: -20px;
}

.header-logo:hover {
  opacity: 60%;
}

.header-logo:active {
  opacity: 30%;
  outline: none;
}

.header-logo:focus {
  border: none;
  outline: none;
}

.header-logo:focus::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #af4fff;
  z-index: 2;
  padding: 4px;
  left: -5px;
  top: -6px;
}

.adress-footer-logo-go {
  margin: 0;
  padding: 0;
  display: block;
  margin-bottom: 35px;
  box-sizing: border-box;
  height: 36px;
  width: 145px;
  position: relative;
}

.adress-footer-logo-go:hover {
  opacity: 60%;
}

.adress-footer-logo-go:active {
  opacity: 30%;
  outline: none;
}

.adress-footer-logo-go:focus {
  border: none;
  outline: none;
}

.adress-footer-logo-go:focus::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #af4fff;
  z-index: 2;
  padding: 4px;
  left: -5px;
  top: -6px;
}

.delivery-text-general {
  margin-right: 106px;
}

.basket-svg::before {
  content: "2";
  position: absolute;
  width: 21px;
  height: 21px;
  left: 7px;
  background-color: #ffffff;
  border-radius: 50%;
  top: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.breadcrumbs-link::after {
  background-image: url("../images/decor/breadcrumbs.svg");
  display: block;
  width: 4px;
  height: 7px;
  content: "";
  position: absolute;
  top: 6px;
  right: -22px;
}

.breadcrumbs-item:last-child .breadcrumbs-link::after {
  display: none;
}

.navigation-find-item-button,
.navigation-catalog-button {
  display: flex;
  cursor: pointer;
  width: 79px;
  margin: 6px 0 5px 21px;
}

.navigation-catalog-button {
  width: 230px;
}

.name-account-svg {
  margin-right: 12px;
}

.circle {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  width: 76px;
  justify-content: space-between;
  position: absolute;
  left: 542px;
  top: 513px;
  max-height: 12px;
}

.circle-svg:hover {
  opacity: 60%;
}

.circle-svg:active {
  opacity: 30%;
}

.circle-svg:focus {
  outline: 2px solid #af4fff;
}

.all-colums {
  width: 675px;
  display: flex;
}

.fisrt-colums {
  margin-top: 33px;
  margin-left: 60px;
  width: 222px;
}

.second-colums {
  margin-top: 33px;
  margin-left: 30px;
  width: 211px;
}

.third-colums {
  width: 211px;
  margin-top: 33px;
  margin-left: 1px;
}

.popover::before {
  content: "";
  display: block;
  width: 14px;
  height: 6px;
  position: relative;
  left: 153px;
  top: -6px;
  background-image: url("../images/decor/popover.svg");
  background-repeat: no-repeat;
}

.popover {
  width: 320px;
  min-height: 180px;
  font-size: 16px;
  line-height: 20px;
  background-color: #000000;
  color: #ffffff;
  position: absolute;
  top: 50px;
  left: -118px;
  z-index: 1;
  box-sizing: border-box;
  display: none;
}

.popover-open {
  display: block;
}

.popover-content {
  height: 100%;
}

.cart-items-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cart-item {
  height: 43px;
  display: flex;
  padding: 18px 21px;
  justify-content: space-between;
}

.cart-item + .cart-item {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.cart-item-button {
  background-color: transparent;
  border: none;
  width: 10px;
  height: 10px;
  padding: 0;
  margin: 0;
  display: flex;
}

.cart-item-title {
  margin: 0;
  padding: 0;
  height: 40px;
  width: 121px;
  margin-left: 21px;
}

.popover-sum {
  background-color: #1a1a1a;
  height: 44px;
  display: flex;
  justify-content: space-between;
  padding: 2px 20px;
}

.popover-sum-product {
  width: 120px;
  display: block;
  margin: auto 0;
}

.popover-sum-money {
  width: 150px;
  display: block;
  margin: auto 0;
  text-align: right;
}

.popover-button {
  background-color: #ffffff;
  color: #000000;
  display: block;
  width: 234px;
  margin: 19px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 14px 25px;
}

.popover-product {
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  display: flex;
}

.first-product {
  width: 121px;
}

.second-product {
  width: 151px;
}

.popover-product:hover {
  opacity: 60%;
}

.popover-product:active {
  opacity: 30%;
}

.popover-product:focus {
  outline: 2px solid #af4fff;
}

.cart-item-button:hover {
  opacity: 60%;
}

.cart-item-button:active {
  opacity: 30%;
}

.cart-item-button:focus {
  outline: 2px solid #af4fff;
}

.popover-button:hover,
.popover-button:active {
  background-color: #ffe17f;
}

.popover-button:active .popover-button-open {
  background-color: #ffe17f;
  opacity: 30%;
}

.popover-button:focus {
  outline: 2px solid #af4fff;
}

.popover-button:disabled {
  opacity: 30%;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color:rgba(240, 240, 240, 0.9);
}

.modal {
  position: relative;
  margin: auto;
  background-color: #ffffff;
  border: 10px solid #000000;
  box-shadow: 0 10px 0 0 #0000001a;
}

.modal-auth {
  width: 900px;
}

.modal-title-header {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  margin: 0;
}

.modal-title-number {
  position: relative;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
  letter-spacing: -0.02em;
  display: flex;
  flex-wrap: wrap;
}

.modal-title {
  position: relative;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
  letter-spacing: -0.02em;
  margin-bottom: 14px;
}

.modal-title-counter{
  position:relative;
  top: -6px;
}

.modal-close-button {
  position: relative;
  padding: 0;
  top: 0;
  right: -14px;
  width: 56px;
  height: 44px;
  background-color: #ffffff;
  border: none;
  background-image: url("../images/decor/exit.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  opacity: 60%;
}

.modal-close-button:active {
  opacity: 30%;
}

.modal-close-button:focus {
  outline: 2px solid #af4fff;
}

.modal-content {
  display: flex;
  flex-wrap: wrap;
  padding: 62px;
  margin: 0 auto;
  width: 760px;
}

.field-modal {
  background-color: #f0f0f0;
  border: none;
  margin: 0;
  padding: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  outline: none;
  font-family: inherit;
}

.field-modal:hover {
  background-color: #dcdcdc;
}

.field-modal:focus {
  outline: 2px solid #af4fff;
}

.field-modal:disabled {
  opacity: 30%;
}

.field-modal:invalid {
  outline: 2px solid #ff3d3d;
}

.field-modal:invalid .error-email,
.field-modal:invalid .field-error {
  color: #ff3d3d;
}

.auth-form-field-name {
  background-image: url("../images/decor/sign-in-opacity.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 325px;
  width: 320px;
}

.auth-form-field-name::placeholder,
.auth-form-field-email::placeholder,
.auth-form-field::placeholder {
  opacity: 30%;
}

.auth-form-field-email {
  background-image: url("../images/decor/e-mail.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 325px;
  width: 320px;
}

.auth-form-field {
  width: 500px;
}

.field-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
}

.first-group {
  margin-right: 40px;
  width: 360px;
}

.second-group {
  width: 360px;
}


.tooltip-toggle {
  content: "";
  width: 26px;
  height: 26px;
  background: #ffe17f;
  border-radius: 50%;
  background-image: url("../images/decor/info-modal.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  padding: 0;
  display: block;
}

.tooltip-toggle:hover {
  background-color: #ffc700;
}

.modal-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.number-minus,
.number-input,
.number-plus {
  width: 60px;
  height: 60px;
  background-color: #f0f0f0;
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

.number-minus,
.number-plus {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}


.number-minus:hover,
.number-plus:hover {
  opacity: 60%;
  background-color: #ebebeb;
}

.number-minus:active .number-minus-svg,
.number-plus:active .number-plus-svg {
  opacity: 30%;
}

.number-minus:focus::after{
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border: 2px solid #af4fff;
  z-index: 2;
  padding: 4px;
  left: -5px;
  top: -6px;
}

.number-plus:focus::after{
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border: 2px solid #af4fff;
  z-index: 2;
  padding: 4px;
  left: 115px;
  top: -6px;
}

.number-minus:focus,
.number-plus:focus{
  outline: none;
}

.number-minus:disabled,
.number-plus:disabled {
  opacity: 30%;
}

.number-input {
  display: block;
  height: 60px;
  font-size: 16px;
  line-height: 20px;
  width: 60px;
  padding-left: 14px;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  outline: none;
  -webkit-appearance: textfield;
  appearance: textfield;
}

.number {
  display: flex;
  position: relative;
  top: 7px;
}

.number:invalid {
  outline: 2px solid #ff3d3d;
}

.auth-form-button {
  border: none;
  width: 200px;
  min-height: 40px;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  padding: 0;
  top: 4px;
  z-index: 1;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.auth-form-button:hover {
  background-color: #ffe17f;
}

.auth-form-button:active {
  background-color: #ffcc33;
}

.auth-form-button:focus {
  outline: 2px solid #af4fff;
}

.auth-form-button::after {
  content: "";
  display: block;
  background-color: #ffe17f;
  width: 200px;
  height: 8px;
  position: relative;
  top: -15px;
  z-index: -1;
}

.modal-header {
  display: flex;
  width: 760px;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 42px;
}

.modal-number {
  display: flex;
  width: 180px;
  flex-wrap: wrap;
}

.tooltip {
  position: absolute;
  margin-left: 8px;
  width: 26px;
  height: 26px;
  margin-top: -7px;
  top: -2px;
}

.tooltip-text {
  position: absolute;
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  padding-top: 19px;
  padding-left: 19px;
  padding-right: 17px;
  display: block;
  width: 164px;
  height: 141px;
  box-shadow: 0 10px 0 0 #0000001a;
  z-index: 1;
  left: -140px;
  top: 36px;
}

.tooltip-text::before {
  content: "";
  display: block;
  width: 14px;
  height: 6px;
  position: absolute;
  z-index: 1;
  background-image: url("../images/decor/popover.svg");
  background-repeat: no-repeat;
  top: -6px;
  left: 146px;
}

.tooltip-text-open {
  display: none;
}

.tooltip-toggle:hover + .tooltip-text-open,
.tooltip-toggle:focus + .tooltip-text-open {
  display: block;
}

.control-mark {
  position: absolute;
  top: -3px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 2px solid #cccccc;
}

.control:hover {
  opacity: 60%;
}

.control:active {
  opacity: 30%;
}

.control-input:focus ~ .control-mark::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #af4fff;
  z-index: 2;
  padding: 4px;
  left: -5px;
  top: -6px;
}

.control-input:disabled + .control {
  opacity: 10%;
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url("../images/decor/yes-black-form.svg");
  border-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-mark::before {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  content: "";
}

.control-input[type="radio"]:checked + .control-mark::before {
  background-color: #000000;
}

.control-input[type="radio"]:checked + .control-mark {
  border-color: #000000;
}

.modal-button-catalog {
  border: none;
  background-color: transparent;
  width: 220px;
  height: 40px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  z-index: 2;
  padding: 0;
  color: #000000;
  text-decoration: none;
  position: absolute;
  top: 180px;
  left: 75px;
}

.modal-button-catalog::after {
  content: "";
  display: block;
  background-color: #ffe17f;
  width: 200px;
  height: 8px;
  position: relative;
  top: -15px;
  z-index: -1;
}

.modal-container-catalog {
  opacity: 0;
}

.product-card:hover .modal-container-catalog {
  opacity: 1;
}

.product-card:active .modal-container-catalog {
  opacity: 1;
}

.modal-close {
  display: none;
}

.slider-conteiner {
  position: relative;
  display: flex;
  margin: 0 auto;
  width: 1160px;
  flex-direction: column;
}

.navigation-slide-info {
  display: flex;
  margin: 0 auto;
  width: 1160px;
  position: relative;
}

.slider-info {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.title-two {
  width: 287px;
  display: block;
}

.numbers-two {
  width: 155px;
}


.title-three {
  display: block;
  width: 437px;
}

.number-three {
  padding-right: 40px;
}

.number-one {
  padding-left: 18px;
}

.first-string,
.second-string,
.third-string {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: 60px;
  line-height: 18px;
  margin-bottom: 18px;
}

.navigation-conditions-item {
  margin-right: 45px;
}

.navigation-conditions-item:nth-child(3n) {
  margin-right: 0;
  position: relative;
  left: 4px;
}

.navigation-conditions-item:nth-child(1) {
  position: relative;
  left: 3px;
}

.navigation-find-place {
  margin-right: 0;
  position: relative;
  left: -9px;
}

.catalog-footer-down {
  top: 0;
}

.color-conteiner {
  position: relative;
  min-height: 289px;
}

.color-conteiner::after {
  content: "";
  display: block;
  background-color: #f0f0f0;
  height: 100%;
  position: absolute;
  top: 100px;
  z-index: -2;
  width: 100%;
}

.find-button:focus::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #af4fff;
  z-index: 2;
  padding: 4px;
  left: -5px;
  top: -6px;
}

.find:focus + .find-button::after {
  content: "";
  position: absolute;
  width: 359px;
  height: 100%;
  border: 2px solid #af4fff;
  z-index: 2;
  padding: 4px;
  right: 152px;
  top: -6px;
}

.slider-no-visible {
  display: none;
}
